<!DOCTYPE html>
<html lang="zh-cn">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>口袋妖怪-关于我们</title>
    <link href="/stylesheets/base.css" rel="stylesheet">
    <link href="/stylesheets/main.css" rel="stylesheet">
    <link href="/stylesheets/about.css" rel="stylesheet">
  </head>
  <body>
    <div id="header">
      <div class="pid"></div>
      <div class="clear webPage">
        <div class="logo L aElem"><a href=""></a></div>
        <div class="nav R">
          <ul>
            <li><a href="/"><span>首页</span>HOME</a></li>
            <li><a class="on" href="/about"><span>关于我们</span>ABOUT US</a></li>
            <li><a href="/product"><span>怪物介绍</span>POKEMON</a></li>
            <li><a href="/honor"><span>史诗妖怪</span>Epic Map</a></li>
            <li class="nedLi"><a href="/contact"><span>联系我们</span>CONTACT</a></li>
          </ul>
        </div>
      </div>
    </div>
    <!-- center S-->
    <div class="clear" id="center">
      <div class="centCom cleafix webPage">
        <div class="centNav cleafix">
          <div class="prodTit text-center"><a class="on" href=""><span>游戏介绍</span></a>|<a href=""><span>游戏截图</span></a>|<a href=""><span>机制评测</span></a>|</div>
        </div>
        <div class="pic pic4">
          <div class="centNav cleafix">
            <div class="centNavText L">
              <div class="centTit">
                <h1>企业介绍</h1>
              </div>
            </div>
            <div class="centNavBtn aElem R"></div>
          </div>
          <div class="centText slideBox slideBox2">
            <ul class="slideItem">
              <li>
                <div class="prodImg L"><img src="images/slice/ab.jpg" width="424" height="280"></div>
                <div class="prodCom R">
                  <div class="prodTxt">
                    目前，市面上大多数口袋妖怪系列类的游戏基本都是2D横版的，虽然能最大化的给玩家带入一种漫画的代入感，但是随着硬件技术的不断增强，在移动端3D大潮的冲击下，越来越多的玩家喜欢3D带来的真实感，我们的官方制作团队在深入调查玩家属性的同时，也做了大量的工作，决定在3D版本上作出一种新的尝试，加入3D俯视视角元素加带给你最真实的指尖冒险。
                    《口袋妖怪重制》自从曝光之后收到众多粉丝玩家的追捧，但也有玩家提出创新不足的问题，对此，我们的官方人员倍感“冤枉”，当然我相信各位玩家都是喜欢口袋妖怪的，其实你只是没有发现这些创新。
                    
                    《口袋妖怪重制》的地图全部都是重新设置新的关卡供玩家挑战，由国内一线实力的开发人员亲自坐镇每一个关卡地图的制作，保证玩家的融入感和趣味性。以阳光海滩为例，玩家在冒险过程中是可以捡到大师球的，大师球可以用来捕捉宠物小精灵，既增强了玩家的探索欲望，又可以让玩家乐在其中，是一个绝佳的创意。
                  </div>
                </div>
              </li>
              <li>
                <div class="prodImg L"><img src="images/slice/1.jpg" width="424" height="280"></div>
                <div class="prodImg R"><img src="images/slice/2.jpg" width="424" height="280"></div>
                <div class="prodImg L"><img src="images/slice/3.jpg" width="424" height="280"></div>
                <div class="prodImg R"><img src="images/slice/4.jpg" width="424" height="280"></div>
              </li>
              <li>
                <div class="prodImg L"><img src="images/slice/1.jpg" width="424" height="280"></div>
                <div class="prodCom R">
                  <div class="prodTxt">
                    对于口袋系列的游戏而言，技能系统是最难制作的，因为口袋妖怪是一款跨越时间长达20年的超级IP，经过一代代的进化，XY、复刻、红蓝宝石等各种版本都拥有相当大的粉丝群体，而且精灵宝贝经过一代代的进化，技能也是五花八门、层出不穷。
                    
                    《口袋妖怪重制》的官方不仅详细归类了全部精灵宝贝的技能属性，更是对每个技能融入了电影特效元素，裂屏、颤抖、撞击、眩晕等动作设定让精灵宝贝更加符合游戏的主题，而且玩家可以通过排兵布阵为游戏增加更高的自由度和新鲜元素。
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <!-- center E-->
    <!-- footer S-->
    <div class="clear" id="footer">
      <div class="webPage clear footCom text-center">
        <div class="footNav L iElem"><a class="fnIco1" href=""><i></i>设置</a><span>|</span><a class="fnIco2" href=""><i></i>email</a></div><span>copyright 2014 KUNMING tian jing dian li OPERATION CO.,LTD    滇icp备10201004号-1</span>
        <div class="footLink R">
          <div class="gzWx L padding-right-10 iElem"><a href=""><i></i>关注神奇宝贝</a>
            <div class="wxCom backgroundElem"></div>
          </div>
          <div class="padding-right-10 L">友情链接</div>
          <div class="seleBox L iElem"><span class="dk_wrap dk_wrap1 L">
              <select class="nojs" name="country-wrap">
                <option>口袋妖怪1</option>
                <option>口袋妖怪2</option>
                <option>口袋妖怪3</option>
                <option>口袋妖怪4</option>
                <option>口袋妖怪5</option>
                <option>口袋妖怪6</option>
              </select></span></div>
        </div>
      </div>
    </div>
    <!-- footer E-->
    <script src="javascripts/jquery-1.8.2.min.js"></script>
    <script src="javascripts/base.js"></script>
  </body>
</html>