doctype html
html(lang='zh-cn')
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        title 天津电力-关于我们
        link(href='/stylesheets/base.css', rel='stylesheet')
        link(href='/stylesheets/main.css', rel='stylesheet')
        link(href='/stylesheets/about.css', rel='stylesheet')
    body
        #header
            .pid
            .clear.webPage
                .logo.L.aElem
                    a(href='')
                .nav.R
                    ul
                        li
                            a(href='/')
                                span 首页
                                | HOME
                        li
                            a.on(href='/about')
                                span 关于我们
                                | ABOUT US
                        li
                            a(href='/product')
                                span 企业产品
                                | PRODUCTS
                        li
                            a(href='/honor')
                                span 公司荣誉
                                | QUALIFICAION
                        li.nedLi
                            a(href='/contact')
                                span 联系我们
                                | CONTACT
        // center S
        #center.clear
            .centCom.cleafix.webPage
                .centNav.cleafix
                    .prodTit.text-center
                        a.on(href='')
                            span 企业介绍
                        | |
                        a(href='')
                            span 企业环境
                        | |
                        a(href='')
                            span 卓越成绩
                        | |
                .pic.pic4
                    .centNav.cleafix
                        .centNavText.L
                            .centTit
                                h1 企业介绍
                        .centNavBtn.aElem.R
                    .centText.slideBox.slideBox2
                        ul.slideItem
                            li
                                .prodImg.L
                                    img(src='images/slice/ab.jpg', width='424', height='280')
                                .prodCom.R
                                    .prodTxt
                                        | 昆明天经电力设备有限公司是“昆明耀龙供用电有限公司”与“云南新铜人实业有限公司” 于2006年12月双方投资在昆明成立的，注册资金2000万。
                                        | 公司主要从事插接母线、电缆桥架、电气箱柜的设计、生产、销售、安装、技术咨询和技术服务等主营业务。专业生产低压母线槽输、配电系统，电缆桥架，电气箱柜的生产　。公司拥有先进的生产线，加工设备，数控设备、气动准备台及各类检测设备。公司坚持“优质生产、以质为根”经营理念，坚持”生产、学习、研究“的技术理念，取得了经中国质量认证中心签发的空气母线槽，密集母线槽，铜铝复合母线槽的型式试验报告、东北电力电气产品质量检测站签发的共箱母线槽型式试验报告及云南省产品质量监督检验研究院签发的槽式电缆桥架、托盘式电缆桥架、梯级电缆桥架、镀锡板电缆桥架、铝合金电缆桥架检验报告，及国家防火建筑材料质量监督检验中心签发的防火阻燃桥架的检报告。
                            li
                                .prodImg.L
                                    img(src='images/slice/1.jpg', width='424', height='280')
                                .prodImg.R
                                    img(src='images/slice/2.jpg', width='424', height='280')
                                .prodImg.L
                                    img(src='images/slice/3.jpg', width='424', height='280')
                                .prodImg.R
                                    img(src='images/slice/4.jpg', width='424', height='280')
                            li
                                .prodImg.L
                                    img(src='images/slice/1.jpg', width='424', height='280')
                                .prodCom.R
                                    .prodTxt
                                        | 卓越成绩卓越成绩卓越成绩卓越成绩卓越成绩卓越成绩卓越成绩 卓越成绩卓越成绩卓越成绩卓越成绩卓越成绩卓越成绩卓越成绩 卓越成绩卓越成绩卓越成绩卓越成绩卓越成绩卓越成绩卓越成绩 卓越成绩卓越成绩卓越成绩卓越成绩卓越成绩卓越成绩卓越成绩 卓越成绩卓越成绩卓越成绩卓越成绩卓越成绩卓越成绩卓越成绩 卓越成绩卓越成绩卓越成绩卓越成绩卓越成绩卓越成绩卓越成绩 卓越成绩卓越成绩卓越成绩卓越成绩卓越成绩卓越成绩卓越成绩 卓越成绩卓越成绩卓越成绩卓越成绩卓越成绩卓越成绩卓越成绩 卓越成绩卓越成绩卓越成绩卓越成绩卓越成绩卓越成绩卓越成绩 卓越成绩卓越成绩卓越成绩卓越成绩卓越成绩卓越成绩卓越成绩 卓越成绩卓越成绩卓越成绩卓越成绩卓越成绩卓越成绩卓越成绩 卓越成绩卓越成绩卓越成绩卓越成绩卓越成绩卓越成绩卓越成绩 卓越成绩卓越成绩卓越成绩卓越成绩卓越成绩卓越成绩卓越成绩
        // center E
        // footer S
        #footer.clear
            .webPage.clear.footCom.text-center
                .footNav.L.iElem
                    a.fnIco1(href='')
                        i
                        | 生成管理系统
                    span |
                    a.fnIco2(href='')
                        i
                        | 企业邮箱
                span copyright 2014 KUNMING tian jing dian li OPERATION CO.,LTD    滇icp备10201004号-1
                .footLink.R
                    .gzWx.L.padding-right-10.iElem
                        a(href='')
                            i
                            | 关注天健公司
                        .wxCom.backgroundElem
                    .padding-right-10.L 友情链接
                    .seleBox.L.iElem
                        span.dk_wrap.dk_wrap1.L
                            select.nojs(name='country-wrap')
                                option 美国雷神电力1
                                option 美国雷神电力2
                                option 美国雷神电力3
                                option 美国雷神电力1
                                option 美国雷神电力2
                                option 美国雷神电力3
        // footer E
        script(src='javascripts/jquery-1.8.2.min.js')
        script(src='javascripts/base.js')