doctype html
html(lang='zh-cn')
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        title 口袋妖怪-史诗图鉴
        link(href='/stylesheets/base.css', rel='stylesheet')
        link(href='/stylesheets/main.css', rel='stylesheet')
        link(href='/stylesheets/about.css', rel='stylesheet')
    body
        #header
            .pid
            .clear.webPage
                .logo.L.aElem
                    a(href='')
                .nav.R
                    ul
                        li
                            a(href='/')
                                span 首页
                                | HOME
                        li
                            a(href='/about')
                                span 关于我们
                                | ABOUT US
                        li
                            a(href='/product')
                                span 怪物介绍
                                | POKEMON
                        li
                            a.on(href='/honor')
                                span 史诗妖怪
                                | Epic Map
                        li.nedLi
                            a(href='/contact')
                                span 联系我们
                                | CONTACT
        // center S
        #center.clear
            .centCom.cleafix.webPage
                .centTit
                    h1 资质荣誉
                .pic.pic3
                    .centNav.cleafix
                        .centNavText.L
                            | 《口袋妖怪重制》最强妖怪列表，这里是口袋妖怪里具有最强战斗力的Monster，有着各自不凡的本领，习性也各有千秋，战斗力数值爆表
                        .centNavBtn.aElem.R
                            a.prveBtn(href='')
                            a.nextBtn(href='')
                    .centText.slideBox
                        ul.slideItem
                            li
                                .honorImg.L.text-center
                                    a(href='')
                                        img(src='images/slice/t1.png')
                                        span 沙奈朵
                                .honorImg.L.text-center
                                    a(href='')
                                        img(src='images/slice/t2.png')
                                        span 火焰鸡
                                .honorImg.L.text-center
                                    a(href='')
                                        img(src='images/slice/t3.png')
                                        span 蜥蜴王
                                .honorImg.L.text-center
                                    a(href='')
                                        img(src='images/slice/t4.png')
                                        span 裂空座
                                .honorImg.L.text-center
                                    a(href='')
                                        img(src='images/slice/t5.png')
                                        span 乐天河童
                                .honorImg.L.text-center
                                    a(href='')
                                        img(src='images/slice/t6.png')
                                        span 狡猾天狗
                            li
                                .honorImg.L.text-center
                                    a(href='')
                                        img(src='images/slice/t7.png')
                                        span 过动猿
                                .honorImg.L.text-center
                                    a(href='')
                                        img(src='images/slice/t8.png')
                                        span 爆音怪
                                .honorImg.L.text-center
                                    a(href='')
                                        img(src='images/slice/t9.png')
                                        span 超力王
                                .honorImg.L.text-center
                                    a(href='')
                                        img(src='images/slice/t10.png')
                                        span 波士可多拉
                                .honorImg.L.text-center
                                    a(href='')
                                        img(src='images/slice/t11.png')
                                        span 雷电兽
                                .honorImg.L.text-center
                                    a(href='')
                                        img(src='images/slice/t12.png')
                                        span 请假王
        // center E
        // footer S
        #footer.clear
            .webPage.clear.footCom.text-center
                .footNav.L.iElem
                    a.fnIco1(href='')
                        i
                        | 设置
                    span |
                    a.fnIco2(href='')
                        i
                        | email
                span copyright 2014 KUNMING tian jing dian li OPERATION CO.,LTD    滇icp备10201004号-1
                .footLink.R
                    .gzWx.L.padding-right-10.iElem
                        a(href='')
                            i
                            | 关注神奇宝贝
                        .wxCom.backgroundElem
                    .padding-right-10.L 友情链接
                    .seleBox.L.iElem
                        span.dk_wrap.dk_wrap1.L
                            select.nojs(name='country-wrap')
                                option 口袋妖怪1
                                option 口袋妖怪2
                                option 口袋妖怪3
                                option 口袋妖怪4
                                option 口袋妖怪5
                                option 口袋妖怪6
        // footer E
        script(src='/javascripts/jquery-1.8.2.min.js')
        script(src='/javascripts/base.js')
