<!DOCTYPE html>
<html lang="zh-cn">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>天津电力-首页</title>
    <link href="/stylesheets/base.css" rel="stylesheet">
    <link href="/stylesheets/main.css" rel="stylesheet">
    <link href="/stylesheets/index.css" rel="stylesheet">
  </head>
  <body>
    <div id="header">
      <div id="pic"></div>
      <div class="clear webPage">
        <div class="logo L aElem"><a href=""></a></div>
        <div class="nav R">
          <ul>
            <li><a class="on" href="index.html"><span>首页</span>HOME</a></li>
            <li><a href="about.html"><span>关于我们</span>ABOUT US</a></li>
            <li><a href="product.html"><span>企业产品</span>PRODUCTS</a></li>
            <li><a href="honor.html"><span>公司荣誉</span>QUALIFICAION</a></li>
            <li class="nedLi"><a href="contact.html"><span>联系我们</span>CONTACT</a></li>
          </ul>
        </div>
      </div>
    </div>
    <!-- center S-->
    <div class="clear" id="center" style="padding-bottom:60px;">
      <div class="indAdv clearfix">
        <div class="indCom clear">
          <div class="indCon webPage">
            <div class="indBox indBox1 L">
              <div class="indNav clear">
                <div class="indTit L">关于我们<span>ABOUT US</span></div><a class="indMore R" href="">MORE</a>
              </div>
              <div class="indCent"><a class="centTit" href=""><img src="/images/slice/tp.jpg" width="200" height="81"></a>
                <div class="centTxt"> 公司主要从事插接母线、电缆桥架、电气箱柜的设计、生产、销售、安装、技术咨询和技术服务等主营业务。专业生产低压母线槽输...</div>
              </div>
            </div>
            <div class="indBox indBox2 L">
              <div class="indNav clear">
                <div class="indTit L">企业产品<span>ENTERPRISE PRODUCTS</span></div><a class="indMore R" href="">MORE</a>
              </div>
              <div class="slide">
                <div class="slideA">
                  <ul class="ggBox">
                    <li class="ulIndm" style="z-index: 3; opacity: 4;">
                      <div class="ulindLi L" style="padding-right:9px;"><a href=""><img src="/images/slice/tp1.jpg" width="138" height="92"><span>111cckx空气型母线槽</span></a></div>
                      <!--.ulindLi.L(style='padding-right:9px;')-->
                      <!--  a(href='')-->
                      <!--    img(src='/images/slice/p1.jpg', width='138', height='92')-->
                      <!--    span cckx空气型母线槽-->
                      <!--.ulindLi.L-->
                      <!--  a(href='')-->
                      <!--    img(src='/images/slice/p2.jpg', width='138', height='92')-->
                      <!--    span ccbk直角型母线槽-->
                    </li>
                    <li class="ulIndm">
                      <div class="ulindLi L" style="padding-right:9px;"><a href=""><img src="/images/slice/p3.jpg" width="138" height="92"><span>2ckx空气型母线槽</span></a></div>
                      <div class="ulindLi L" style="padding-right:9px;"><a href=""><img src="/images/slice/p4.jpg" width="138" height="92"><span>nkbc空气型母线槽</span></a></div>
                      <div class="ulindLi L"><a href=""><img src="/images/slice/tp2.jpg" width="138" height="92"><span>cfdk空气型母线槽</span></a></div>
                    </li>
                    <li class="ulIndm">
                      <div class="ulindLi L" style="padding-right:9px;"><a href=""><img src="/images/slice/tp3.jpg" width="138" height="92"><span>4444cckx空气型母线槽</span></a></div>
                      <div class="ulindLi L" style="padding-right:9px;"><a href=""><img src="/images/slice/p5.jpg" width="138" height="92"><span>ckna空气型母线槽</span></a></div>
                      <div class="ulindLi L"><a href=""><img src="/images/slice/p2.jpg" width="138" height="92"><span>cckx空气型母线槽</span></a></div>
                    </li>
                    <li class="ulIndm">
                      <div class="ulindLi L" style="padding-right:9px;"><a href=""><img src="/images/slice/p6.jpg" width="138" height="92"><span>3333cckx空气型母线槽</span></a></div>
                      <div class="ulindLi L" style="padding-right:9px;"><a href=""><img src="/images/slice/tp2.jpg" width="138" height="92"><span>cckx空气型母线槽</span></a></div>
                      <div class="ulindLi L"><a href=""><img src="/images/slice/tp3.jpg" width="138" height="92"><span>cckx空气型母线槽</span></a></div>
                    </li>
                  </ul>
                </div>
                <div class="slideB webPage">
                  <div class="ggBtns aElem"><a class="ggOn" href="javascript:;"></a><a href="javascript:;"></a><a href="javascript:;"></a><a href="javascript:;"></a></div>
                </div>
              </div>
            </div>
            <div class="indBox indBox3 L">
              <div class="indNav clear">
                <div class="indTit L">公司视频<span>COMPANY VIDEO</span></div><a class="indMore R" href="">MORE</a>
              </div>
              <div class="entVideo" id="player1" data-url="/images/111.mp4"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- center E-->
    <!-- footer S-->
    <div class="clear" id="footer">
      <div class="webPage clear footCom text-center">
        <div class="footNav L iElem"><a class="fnIco1" href=""><i></i>生成管理系统</a><span>|</span><a class="fnIco2" href=""><i></i>企业邮箱</a></div><span>copyright 2014 KUNMING tian jing dian li OPERATION CO.,LTD    滇icp备10201004号-1</span>
        <div class="footLink R">
          <div class="gzWx L padding-right-10 iElem"><a href=""><i></i>关注天健公司</a>
            <div class="wxCom backgroundElem"></div>
          </div>
          <div class="padding-right-10 L">友情链接</div>
          <div class="seleBox L iElem"><span class="dk_wrap dk_wrap1 L">
              <select class="nojs" name="country-wrap">
                <option>美国雷神电力1</option>
                <option>美国雷神电力2</option>
                <option>美国雷神电力3</option>
                <option>美国雷神电力1</option>
                <option>美国雷神电力2</option>
                <option>美国雷神电力3</option>
              </select></span></div>
        </div>
      </div>
    </div>
    <!-- footer E-->
    <script src="/javascripts/jquery-1.8.2.min.js"></script>
    <script src="/javascripts/base.js"></script>
    <script src="/javascripts/jquery.dropkick-min.js"></script>
    <script type="text/javascript" charset="utf-8" src="/javascripts/clappr.min.js"></script>
    <script type="text/javascript">
      function player(elemID,musicUrl){
          var playerEl = document.getElementById(elemID);
          var player = new Clappr.Player({source: musicUrl});
          player.attachTo(playerEl);
      }
      function playerSet(){
          $(".entVideo").each(function(){
              var thisID=$(this).attr("id");
              var thisDataUrl=$(this).attr("data-url");
              player(thisID,thisDataUrl);
          });
      }
      $(function(){
          playerSet()
      })
    </script>
  </body>
</html>