<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=gb2312"/>
    <meta charset = "UTF-8">
    <title>登陆页面</title>
    <link href="/stylesheets/datouwang.css" rel="stylesheet" type="text/css"/>
    <link href="/stylesheets/login.css" rel="stylesheet" type="text/css"/>
  </head>
  <body>
    <!-- 代码 开始-->
    <div class="login">
      <h1>登录界面</h1>
      <form action="/login" method="post">
        <div class="loginT">
          <span>
            用户名:
            <input type="text" id="userN" name="userName"/>
            <br/>
            <br/>
          </span>
          <span>
            密&nbsp;&nbsp;&nbsp;码:
            <input type="password" id="pwd" name="passWord"/>
          </span>
          <input type="submit" value="登陆" id="btn"/>
          <a href="#">
            <input type="button" onclick="location.href='sign'" value="注册" id="rst"/>
          </a>
          <div class="fsd"></div>
        </div>
      </form>
    </div>
    <div class="eevee">
      <div class="body">
        <div class="head">
          <div class="ears">
            <div class="ear">
              <div class="lobe"></div>
            </div>
            <div class="ear">
              <div class="lobe"></div>
            </div>
          </div>
          <div class="face">
            <div class="eyes">
              <div class="eye">
                <div class="eyelid"></div>
              </div>
              <div class="eye">
                <div class="eyelid"></div>
              </div>
            </div>
            <div class="nose"></div>
            <div class="mouth"></div>
          </div>
        </div>
        <div class="chest">
          <div class="fur">
            <div class="patch"></div>
          </div>
          <div class="fur">
            <div class="patch"></div>
          </div>
          <div class="fur">
            <div class="patch"></div>
          </div>
        </div>
        <div class="legs">
          <div class="leg">
            <div class="inner-leg"></div>
          </div>
          <div class="leg">
            <div class="inner-leg"></div>
          </div>
          <div class="leg">
            <div class="inner-leg"></div>
          </div>
          <div class="leg">
            <div class="inner-leg"></div>
          </div>
        </div>
        <div class="tail">
          <div class="tail">
            <div class="tail">
              <div class="tail">
                <div class="tail">
                  <div class="tail -end"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- 代码 结束-->
  </body>
</html>