doctype html
html(lang='zh-cn')
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        title 口袋妖怪-怪物介绍
        link(href='/stylesheets/base.css', rel='stylesheet')
        link(href='/stylesheets/main.css', rel='stylesheet')
        link(href='/stylesheets/about.css', rel='stylesheet')
    body
        #header
            .pid
            .clear.webPage
                .logo.L.aElem
                    a(href='')
                .nav.R
                    ul
                        li
                            a(href='/')
                                span 首页
                                | HOME
                        li
                            a(href='/about')
                                span 关于我们
                                | ABOUT US
                        li
                            a.on(href='/product')
                                span 怪物介绍
                                | POKEMON
                        li
                            a(href='/honor')
                                span 史诗妖怪
                                | Epic Map
                        li.nedLi
                            a(href='/contact')
                                span 联系我们
                                | CONTACT
        // center S
        #center.clear
            .centCom.cleafix.webPage
                .centNav.cleafix
                    .prodTit
                        a.on(href='')
                            span 喷火龙
                        | |
                        a(href='')
                            span 尼多王
                        | |
                        a(href='')
                            span 雷丘
                        | |
                        a(href='')
                            span 杰尼龟
                        | |
                        a(href='')
                            span 暴鲤龙
                .pic.pic4
                    .centNav.cleafix
                        .centNavText.L
                            .centTit
                                h1 喷火龙
                        .centNavBtn.aElem.R
                            a.prveBtn(href='')
                            a.nextBtn(href='')
                    .centText.slideBox.slideBox2
                        ul.slideItem
                            li
                                .prodImg.L
                                    img(src='images/slice/tp5.jpg', width='283', height='191')
                                .prodCom.R
                                    .prodTxt
                                        | 与它进化之前不同，喷火龙有翅膀可以飞。它是很像龙的神奇宝贝。与它进化前一样，它有长长的末端有火焰的尾巴。在它的爪子尖端有尖锐的指甲。它还有长长的脖子，头上还有从后面突出的两个角。
                            li
                                .prodImg.L
                                    img(src='images/slice/tp6.jpg', width='283', height='191')
                                .prodCom.R
                                    .prodTxt
                                        | 尼多王比尼多力诺、尼多朗要大很多，而且能用后腿站立。尼多王是紫色的，身上没有斑点。 尼多王最突出的特点是其大型的，尖锐的，有毒的角。它是有力的攻击武器。 尼多王的耳朵的边缘有小而尖的刺，耳朵内部是绿色的。
                            li
                                .prodImg.L
                                    img(src='images/slice/tp7.png', width='283', height='191')
                                .prodCom.R
                                    .prodTxt
                                        | 雷丘是一个相当小的两足啮齿动物。还像皮卡丘，雷丘的背上有两个棕色的条纹。长而细的尾部末端有一个扁平的闪电型。它不像皮卡丘一样有手指。雷丘的是棕黄色的，腹部发白，两颊上的电气袋是黄色的。它的脚很大，是棕褐色的。其分叉的耳朵外侧是棕色的，内侧是黄色的，耳朵的末梢有一个卷曲的部位。
                            li
                                .prodImg.L
                                    img(src='images/slice/tp8.jpg', width='283', height='191')
                                .prodCom.R
                                    .prodTxt
                                        | 卡咪龟的头圆圆的，头上长着一对有点像翅的毛茸茸的耳朵。它的眼睛呈棕色，在嘴部可以看到它的獠牙。 它的龟壳和杰尼龟一样。它的前肢有三个锋利的爪子。尾巴像海浪，也是毛茸茸的。
                            li
                                .prodImg.L
                                    img(src='images/slice/tp5.jpg', width='283', height='191')
                                .prodCom.R
                                    .prodTxt
                                        | 暴鲤龙的外形像龙，它的外貌就像是在恐吓别人，头上有青色的向上的三个角。背上有宏字型的甲板。进化了之后性格特别暴烈，会平白无故的攻击人类及其他神奇宝贝，即使并没有惹暴鲤龙。因为它的性格，有的暴鲤龙从鲤鱼王进化了之后会不听训练者的话。
        // center E
        // footer S
        #footer.clear
            .webPage.clear.footCom.text-center
                .footNav.L.iElem
                    a.fnIco1(href='')
                        i
                        | 设置
                    span |
                    a.fnIco2(href='')
                        i
                        | email
                span copyright 2014 KUNMING tian jing dian li OPERATION CO.,LTD    滇icp备10201004号-1
                .footLink.R
                    .gzWx.L.padding-right-10.iElem
                        a(href='')
                            i
                            | 关注神奇宝贝
                        .wxCom.backgroundElem
                    .padding-right-10.L 友情链接
                    .seleBox.L.iElem
                        span.dk_wrap.dk_wrap1.L
                            select.nojs(name='country-wrap')
                                option 口袋妖怪1
                                option 口袋妖怪2
                                option 口袋妖怪3
                                option 口袋妖怪4
                                option 口袋妖怪5
                                option 口袋妖怪6
        // footer E
        script(src='/javascripts/jquery-1.8.2.min.js')
        script(src='/javascripts/base.js')
        script(src='/javascripts/jquery.mCustomScrollbar.js')
