doctype html
html(lang='zh-cn')
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        title 天津电力-企业产品
        link(href='/stylesheets/base.css', rel='stylesheet')
        link(href='/stylesheets/main.css', rel='stylesheet')
        link(href='/stylesheets/about.css', rel='stylesheet')
    body
        #header
            .pid
            .clear.webPage
                .logo.L.aElem
                    a(href='')
                .nav.R
                    ul
                        li
                            a(href='/')
                                span 首页
                                | HOME
                        li
                            a(href='/about')
                                span 关于我们
                                | ABOUT US
                        li
                            a.on(href='/product')
                                span 企业产品
                                | PRODUCTS
                        li
                            a(href='/honor')
                                span 公司荣誉
                                | QUALIFICAION
                        li.nedLi
                            a(href='/contact')
                                span 联系我们
                                | CONTACT
        // center S
        #center.clear
            .centCom.cleafix.webPage
                .centNav.cleafix
                    .prodTit
                        a.on(href='')
                            span CKKX空气型母线槽
                        | |
                        a(href='')
                            span CKKX密集型绝缘母线槽
                        | |
                        a(href='')
                            span CMLJ新型节能母线槽
                        | |
                        a(href='')
                            span BMC-2A-CCG插接式开关箱
                        | |
                        a(href='')
                            span XQJ槽式电缆桥架
                .pic.pic4
                    .centNav.cleafix
                        .centNavText.L
                            .centTit
                                h1 CKKX空气型母线槽
                        .centNavBtn.aElem.R
                            a.prveBtn(href='')
                            a.nextBtn(href='')
                    .centText.slideBox.slideBox2
                        ul.slideItem
                            li
                                .prodImg.L
                                    img(src='images/slice/tp5.jpg', width='283', height='191')
                                .prodCom.R
                                    .prodTxt
                                        | 111CCKX附加绝缘母线槽，外壳采用冷轧钢冲孔，弯折，经表面处理，整体组装后形成高强型结构，大大增强了母线槽的强度， 母线导体固定于绝缘支撑架上与结构体形成一体。CCKX附加绝缘母线槽，外壳采用冷轧钢冲孔，弯折，经表面处理，整体组装后形成高强型结构，大大增强了母线槽的强度， 母线导体固定于绝缘支撑架上与结构体形成一体。
                            li
                                .prodImg.L
                                    img(src='images/slice/tp5.jpg', width='283', height='191')
                                .prodCom.R
                                    .prodTxt
                                        | 222CCKX附加绝缘母线槽，外壳采用冷轧钢冲孔，弯折，经表面处理，整体组装后形成高强型结构，大大增强了母线槽的强度， 母线导体固定于绝缘支撑架上与结构体形成一体。CCKX附加绝缘母线槽，外壳采用冷轧钢冲孔，弯折，经表面处理，整体组装后形成高强型结构，大大增强了母线槽的强度， 母线导体固定于绝缘支撑架上与结构体形成一体。
                            li
                                .prodImg.L
                                    img(src='images/slice/tp5.jpg', width='283', height='191')
                                .prodCom.R
                                    .prodTxt
                                        | 333CCKX附加绝缘母线槽，外壳采用冷轧钢冲孔，弯折，经表面处理，整体组装后形成高强型结构，大大增强了母线槽的强度， 母线导体固定于绝缘支撑架上与结构体形成一体。CCKX附加绝缘母线槽，外壳采用冷轧钢冲孔，弯折，经表面处理，整体组装后形成高强型结构，大大增强了母线槽的强度， 母线导体固定于绝缘支撑架上与结构体形成一体。
                            li
                                .prodImg.L
                                    img(src='images/slice/tp5.jpg', width='283', height='191')
                                .prodCom.R
                                    .prodTxt
                                        | 444CCKX附加绝缘母线槽，外壳采用冷轧钢冲孔，弯折，经表面处理，整体组装后形成高强型结构，大大增强了母线槽的强度， 母线导体固定于绝缘支撑架上与结构体形成一体。CCKX附加绝缘母线槽，外壳采用冷轧钢冲孔，弯折，经表面处理，整体组装后形成高强型结构，大大增强了母线槽的强度， 母线导体固定于绝缘支撑架上与结构体形成一体。
                            li
                                .prodImg.L
                                    img(src='images/slice/tp5.jpg', width='283', height='191')
                                .prodCom.R
                                    .prodTxt
                                        | 555CCKX附加绝缘母线槽，外壳采用冷轧钢冲孔，弯折，经表面处理，整体组装后形成高强型结构，大大增强了母线槽的强度， 母线导体固定于绝缘支撑架上与结构体形成一体。CCKX附加绝缘母线槽，外壳采用冷轧钢冲孔，弯折，经表面处理，整体组装后形成高强型结构，大大增强了母线槽的强度， 母线导体固定于绝缘支撑架上与结构体形成一体。
        // center E
        // footer S
        #footer.clear
            .webPage.clear.footCom.text-center
                .footNav.L.iElem
                    a.fnIco1(href='')
                        i
                        | 生成管理系统
                    span |
                    a.fnIco2(href='')
                        i
                        | 企业邮箱
                span copyright 2014 KUNMING tian jing dian li OPERATION CO.,LTD    滇icp备10201004号-1
                .footLink.R
                    .gzWx.L.padding-right-10.iElem
                        a(href='')
                            i
                            | 关注天健公司
                        .wxCom.backgroundElem
                    .padding-right-10.L 友情链接
                    .seleBox.L.iElem
                        span.dk_wrap.dk_wrap1.L
                            select.nojs(name='country-wrap')
                                option 美国雷神电力1
                                option 美国雷神电力2
                                option 美国雷神电力3
                                option 美国雷神电力1
                                option 美国雷神电力2
                                option 美国雷神电力3
        // footer E
        script(src='/javascripts/jquery-1.8.2.min.js')
        script(src='/javascripts/base.js')
        script(src='/javascripts/jquery.mCustomScrollbar.js')
